---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../components/BlogPost.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content, headings } = await post.render();
---

<BlogPost {...post.data}>
  <div class=" fixed left-20">
    {headings.map(headeing => (<div class="w-[150px] text-sm text-ellipsis whitespace-nowrap overflow-hidden" style={`margin-left: ${(headeing.depth - 2) * 0.875}rem`}><a href={`#${headeing.slug}`}>{headeing.text}</a></div>))}
  </div>
  <Content />
</BlogPost>
