---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class="opacity-60 hover:opacity-100"
  class:list={[className, { active: isActive }]}
  {...props}
>
  <slot />
</a>

<style></style>
