---
import HeaderLink from "./HeaderLink.astro";
import { Icon } from "astro-icon";
---

<header>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="https://github.com/qiuqfang" target="_blank">
      <Icon name="mdi:github" size={24} />
    </HeaderLink>
    <HeaderLink href="https://twitter.com/qiuqfang" target="_blank">
      <Icon name="mdi:twitter" size={24} />
    </HeaderLink>
    <HeaderLink href={`${Astro.site}/rss.xml`} target="_blank">
      <Icon name="mdi:rss" size={24} />
    </HeaderLink>
    <HeaderLink class="icon-toggle">
      <Icon name="mdi:white-balance-sunny" size={24} />
      <Icon name="mdi:weather-night" size={24} />
    </HeaderLink>
  </nav>
</header>

<style is:inline>
  header {
    margin: 0em 0 2em;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav a {
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
</style>
